body,html{
}
.content{
    margin-top:10px;
    background-color: #FFF !important;
    
}
.borderless td, .borderless th {
    border: none;
}
.fluid{
    margin: 10px 50px;
}
body,#submit{
    background-image: linear-gradient(to left bottom, #29b55a, #29b55a, #29b55a, #29b55a, #29b55a);
}
.btn-expand{
    color: #817E5E;
}
label{
    font-weight: bold;
    color: #7A736F;
    font-size: 14px;
}
label:hover{
    cursor:pointer;
}
textarea,input[type=text],option{
    font-size:13px;
}
.custom-text{
    border: 2px solid rgba(0,0,125,0.2);
    /* background: #5CBED6; */
    padding:3px;
    padding-top: 7px;
    text-align: center;
    border-radius: 3px;
    box-shadow: 1px 1px #8D8989;
}