.content{
    margin-top:10px;
}
.borderless td, .borderless th {
    border: none;
}
.fluid{
    margin: 10px 50px;
}
body,#submit{
    background-image: linear-gradient(to left bottom, #29b55a, #29b55a, #29b55a, #29b55a, #29b55a);
}
.btn-expand{
    color: #817E5E;
}